<a id="github-page" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
  data-upgraded=",MaterialButton"
  href="https://github.com/iCEAGE" target="_blank">
  <i class="fa fa-github"></i>
</a>
<a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
  data-upgraded=",MaterialButton"
  href="http://ie.linkedin.com/in/hamedrnik" target="_blank">
  <i class="fa fa-linkedin"></i>
</a>
<a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
  data-upgraded=",MaterialButton"
  href="https://twitter.com/iceage2098" target="_blank">
  <i class="fa fa-twitter"></i>
</a>
