<a id="github-page" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
  data-upgraded=",MaterialButton"
  href="https://github.com/iCEAGE" target="_blank">
  <i class="fa fa-github"></i>
</a>
<a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
  data-upgraded=",MaterialButton"
  href="http://ie.linkedin.com/in/hamedrnik" target="_blank">
  <i class="fa fa-linkedin"></i>
</a>
<a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
  data-upgraded=",MaterialButton"
  href="https://twitter.com/iceage2098" target="_blank">
  <i class="fa fa-twitter"></i>
</a>
<a id="persian-blog-wordpress" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
  data-upgraded=",MaterialButton"
  href="https://free8beautifullife.wordpress.com/" target="_blank">
  <i class="fa fa-wordpress"></i>
</a>

<div class="mdl-tooltip" for="persian-blog-wordpress">
  My Persian Blog
</div>
